[user]
  name = Jamie Liu
  email = jliu@nixprime.com
[sendemail]
  from = Jamie Liu <jliu@nixprime.com>
[core]
  abbrev = 12
[alias]
  br = branch
  ci = commit
  co = checkout
  ignored = ls-files --others -i --exclude-standard
  rb = rebase
  st = status
[branch]
  autosetupmerge = always
[color]
  ui = true
[diff]
  algorithm = patience
[pull]
  rebase = true
[push]
  default = simple
