[user]
	name = Jamie Liu
	email = jliu@nixprime.com
[sendemail]
  from = Jamie Liu <jliu@nixprime.com>
[core]

[alias]
  st = status
  ci = commit
  changes = diff --name-status -r
  unstage = reset HEAD
  ignored = ls-files --others -i --exclude-standard
  ignored-paths = clean -ndX
  history = reflog --date=relative
[diff]
  algorithm = patience
