# For loop
snippet for
	for (${1}; ${2}; ${3}) {
		${4}
	}
# Include guard
snippet once
	#ifndef ${1:`toupper(Filename('', 'UNTITLED').'_H_')`}
	#define $1

	${2}

	#endif /* $1 */
# main
snippet main
	int main(int argc, char const* argv[]) {
		${1}

		return 0;
	}
