# Namespace
snippet namespace
	namespace ${1:ns} {

	${2}

	} // namespace $1
snippet ns
	namespace ${1:ns} {

	${2}

	} // namespace $1
# Class
snippet class
	class ${1:Class} {
		public:
			$1();

		private:
	};
# Try/catch
snippet try
	try {
		${1}
	} catch (${2:std::exception& e}) {
		${3}
	}
# Range-based for
snippet fore
	for (${1} : ${2}) {
		${3}
	}
# Template
snippet temp
	template <${1}>
